---
---
@charset "utf-8";

$color-blockquote: #666666;
$color-footer: #EFF4F7;
$color-footer-dark: darken($color-footer, 10%);
$color-grey: #FAFAFA;
$color-grey-darker-1: #F0F0F0;
$color-text: #444444;
$color-text-light: #666666;
$color-text-lighter: #999999;

$content-width: 700px;

$font-title: "Roboto Slab", serif;
$font-body:  "Libre Franklin", sans-serif;

@import
  "base",
  "layout"
;
