{% for post in site.posts %}

  {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture nyear %}{{ post.next.date | date: "%Y" }}{% endcapture %}
  
  {% if post.roll == page.roll %}
  
    {% if year != nyear %}
      <h2 class="roll-sep">{{ post.date | date: "%Y" }}</h2>
    {% endif %}
  
    <div class="roll-item">
      
      <div class="roll-info">
        <a href="{{ post.url }}" class="roll-title">{{ post.title }}</a>
        <div class="roll-date">{{ post.date | | date: "%B %e, %Y" }}</div>
      </div>
      
      {% if page.preview %}
        <div class="roll-preview">
          {{ post.content | strip_html | truncatewords: 50 }}
        </div>
      {% endif %}
      
    </div>
    
  {% endif %}
  
{% endfor %}