/**
 * BUILT-IN
 */
 
* {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, p, blockquote, pre, ol, ul {
  margin: 0;
}


/**
 * USER DEFINED
 */

a {
  color: $color-text;
  text-decoration: none;
}

blockquote {
  border-left: 5px solid $color-footer-dark;
  font-style: italic;
  margin: 10px;
  padding-left: 20px;
}

body {
  color: $color-text;
  font-family: $font-body;
  text-align: center;
}

h1, h2, h3 {
  font-family: $font-title;
}
 
ol {
  background-color: $color-box;
  color: $color-box-font;
  padding: 30px;
}

p {
  line-height: 1.5;
  padding: 5px 0;
}