/**
 * FOOTER
 */

.footer-cph {
  color: $color-text-lighter;
  font-size: 12px;
  margin: 20px 0;
}

.footer-nav {
  background-color: $color-footer;
  font-family: $font-title;
  padding: 40px 0;
}

.footer-nav a {
  color: lighten($color-text, 25%);
  font-size: 14px;
  margin: 0 10px;
  text-transform: uppercase;
  &:hover {
    color: lighten($color-text, 50%);
  }
}
 
/**
 * HOME
 */

.home-container {
  display: flex;
  align-items: center;
}

.home-content {
  display: flex;
  align-items: center;
}

.home-item-left {
  margin: 10px 10px 10px 0;
}

.home-item-right {
  margin: 10px 0 10px 10px;
}

@media (max-width: 500px){

  .home-container {
    display: inline;
    text-align: center;
  }
  
  .home-item-left {
    margin: 10px 0;
  }
  
  .home-item-right {
    margin: 10px 0;
    text-align: left;
  }
  
}

/**
 * MISC
 */
 
.page-content .lead-img {
  border: 1px solid $color-grey-darker-1;
  display: block;
  margin: 10px auto 0 auto;
  padding: 5px;
  width: calc(100% - 12px);
}

.sep {
  color: $color-footer-dark;
  display: inline;
}

.page-content {
  margin: 0 auto;
  max-width: $content-width;
  padding: 10px 10px 15px 10px;
  text-align: left;
  min-height: calc(100vh - 386px);
}

.page-content img {
  border: 1px solid $color-grey-darker-1;
  display: block;
  margin: auto;
  padding: 5px;
}

.page-content h1 {
  margin: 10px 0 0 0;
}

.byline {
  color: $color-text-lighter;
  margin: 5px 0 20px 0;
}

.profile-pic {
  border-radius: 50%;
}

/**
 * NAV
 */
 
.banner {
  margin: 10px 0;
  max-width: 250px;
}

.nav {
  background-color: $color-grey;
  font-family: $font-title;
}

.nav-navbar {
  border-bottom: 1px solid $color-grey-darker-1;
  border-top: 1px solid $color-grey-darker-1;
  padding: 25px 0;
  text-transform: uppercase;
}

.nav-navbar a {
  margin: 0 20px;
  &:hover {
    color: lighten($color-text, 25%);
  }
}

.nav-title {
  font-family: $font-title;
}


/**
 * ROLL
 */
 
.roll {
  margin: 20px 0;
}

.roll-date {
  font-weight: normal;
}

.roll-info {
  display: flex;
  font-family: $font-title;
  font-weight: bold;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.roll-item {
  margin: 20px 0;
}

.roll-preview {

}

.roll-sep {
  border-bottom: 1px solid $color-grey-darker-1;
  color: $color-footer-dark;
  font-style: italic;
}


/**
 * LANGUAGES
 */
 
.language-poem {
  font-family: $font-body;
  line-height: 1.5;
}


/**
 * IMAGES
 */
 
.image {
  margin: 10px 0;
  text-align: center;
}

.image-cap {
  font-size: 12px;
  font-style: italic;
  margin: 5px 0 0 0;
}

/**
 * LINKS
 */
 
.page-content p a {
  text-decoration: none;
  border-bottom: 4px solid $color-footer-dark;
  &:hover {
    background-color: $color-footer-dark;
    border-bottom: 4px solid $transparent;
  }
}