/**
 * NAV
 */
 
.nav {
  font-family: $font-body;
}

.nav-navbar {

}

.nav-subtitle {
  color: #c7c7c7;
  font-family: $font-title;
  text-transform: uppercase;
}

.nav-title {
  font-family: $font-title;
}
