<!DOCTYPE html>
<html>
  
  {% include head.html %}
  {% include nav.html %}
  
  <body>
    
    <h1>{{ page.title }}</h1>
    
    <div>
      {{ content }}
    </div>
    
    <div class="blogroll">
                
      {% for post in site.posts reversed %}
        {% if post.roll == page.roll %}
            
          <div class="blogroll-item">
            <a href="{{ post.url }}" class="blogroll-title">{{ post.title }}</a>
          </div>
            
        {% endif %}
      {% endfor %}
      
    </div>
    
  </body>
  
  {% include footer.html %}
  
</html>